{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">ANPR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">The ANPR System</h1>
            <p class="lead">Upload an image to Automatically detect and recognize the number plate.</p>
        </div>

        <form method="post" enctype="multipart/form-data" action="{% url 'process_image' %}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" class="form-control-file" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if result %}
            <div class="mt-4">
                <h2>Result:</h2>
                <p>{{result}}</p>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'inactivity-check.js' %}"></script>
</body>
</html>
