{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2>User Profile</h2>
    <div class="container profile-form">
        <div class="row">
            <div class="col-md-2">
                <img src="{% static 'images\PhR0EQA__400x400.jpg' %}" alt="Profile Picture" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-3">
                <p><strong>First Name:</strong> {{user.first_name}}</p>
                <p><strong>Last Name:</strong> {{user.last_name}}</p>
                <p><strong>Police Number:</strong> {{user.usersprofile.police_id}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Position:</strong> {{user.usersprofile.position}}</p>
                <p><strong>Date of Birth:</strong> {{user.usersprofile.dob}}</p>
                <p><strong>Contact:</strong> {{user.usersprofile.contact}}</p>
                <p><strong>District:</strong> {{user.usersprofile.district}}</p>
                <p><strong>County:</strong> {{user.usersprofile.county}}</p>
                <p><strong>Parish:</strong> {{user.usersprofile.parish}}</p>
                <p><strong>Village:</strong> {{user.usersprofile.village}}</p>
            </div>
        </div>
    </div>

    <div class="container reset-button">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Reset Password</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}